<span class="bwmt_debug-css-classes-dialog-entry-point-display-wrapper @GetCssClasses()">
    <span class="bwmt_debug-css-classes-dialog-entry-point-display"
          @onclick="RenderDialogOnClick">
        <IconSettingsGear />
    </span>
</span>