<div class="bwmt_debug-css-class-section-display">
    @foreach (var debugCssClass in DebugCssClassSection.DebugCssClasses)
    {
        <DebugCssClassDisplay DebugCssClass="debugCssClass"
                              DebugCssClassSectionId="DebugCssClassSection.DebugCssClassSectionId" />
    }
</div>