@page "/grid"

@using BlazorWindowManager.ClassLibrary.Grid
@using BlazorWindowManager.ClassLibrary.Html
@using BlazorWindowManager.RazorClassLibrary.Grid

<h3>Grid Example</h3>

<GridDisplay GridRecord="_gridRecord" />

@code {
    private GridRecord _gridRecord = new GridRecord(new GridRecordKey(Guid.NewGuid()), 
                                                    new HtmlElementRecordKey(Guid.NewGuid()));
}
