@page "/"

@using BlazorWindowManager.ClassLibrary.Dimension
@using BlazorWindowManager.ClassLibrary.Grid
@using BlazorWindowManager.ClassLibrary.WindowManagerDialog
@using BlazorWindowManagerTemplate.Components

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<BlazorWindowManager.RazorClassLibrary.WindowManagerDialog.WindowManagerDialogTaskBarDisplay />

<button class="btn btn-primary" @onclick="RenderBlazorWindowManagerDialogAsync">Click me to create a BlazorWindowManager dialog that renders the Counter.razor blazor component</button>

<h3>The following is a showcase of the GridDisplay component</h3>
<BlazorWindowManager.RazorClassLibrary.Grid.GridDisplay GridRecord="_gridRecord"
                                                        InitialDimensionsRecord="DimensionsRecord.FromPixelUnits(400, 400, 0, 0)"
                                                        IsResizable="true"
                                                        AddWindowToGridRenderedType="typeof(AddWindowToGridSelector)"
                                                        AddWindowToGridRenderedTypeParameters="null" />

@code {
    [Inject]
    private IWindowManagerDialogService WindowManagerDialogService { get; set; } = null!;
    [Inject]
    private IViewportDimensionsService ViewportDimensionsService { get; set; } = null!;

    private GridRecord _gridRecord = new GridRecord();

    private async Task RenderBlazorWindowManagerDialogAsync()
    {
        var initialDialogDimensionsRecord = await WindowManagerDialogRecord.ConstructDefaultDimensionsRecord(ViewportDimensionsService);

        var windowManagerDialogRecord = new WindowManagerDialogRecord(Guid.NewGuid(),
            $"{nameof(Counter)} Dialog",
            typeof(Counter),
            null,
            initialDialogDimensionsRecord,
            IsMinimized: false
        );

        WindowManagerDialogService.AddWindowManagerDialogRecord(windowManagerDialogRecord);
    }
}