@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

@if (_cachedHtmlElementRecord is not null && 
     _cachedGridTabContainerRecord is not null)
{
    <div  class="bwmt_grid-display-theme-wrapping @GetCssClasses()">
        <div class="bwmt_grid-display"
             style="@_cachedHtmlElementRecord.DimensionsRecord.BuildCssStyleString()">
            <BlazorWindowManager.RazorClassLibrary.Transformative.TransformativeDisplay HtmlElementRecord="_cachedHtmlElementRecord"
                                                                                    @ref="_transformativeDisplay" />
        
            <div class="bwmt_grid-display-tabs">
                @for (int i = 0; i < _cachedGridTabContainerRecord.GridTabRecords.Length; i++)
                {
                    var tabIndex = i;
                    var gridTabRecord = _cachedGridTabContainerRecord.GridTabRecords[tabIndex];
                    <GridTabDisplay GridTabRecord="gridTabRecord"
                                    ActiveTabIndex="_cachedGridTabContainerRecord.ActiveTabIndex"
                                    MyTabIndex="tabIndex" />
                }
            </div>

            <GridBodyDisplay RenderedContentType="_cachedGridTabContainerRecord.GridTabRecords[_cachedGridTabContainerRecord.ActiveTabIndex].RenderedContentType" />
        </div>
    </div>
}
