@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

<div class="bwmt_grid-wrapper-display  @GetCssClasses()">
    <BlazorWindowManager.RazorClassLibrary.Grid.HelperComponents.GridDisplay AddWindowToGridRenderedType="AddWindowToGridRenderedType"
                                                                             AddWindowToGridRenderedTypeParameters="AddWindowToGridRenderedTypeParameters"
                                                                             InitialDimensionsRecord="InitialDimensionsRecord"
                                                                             GridRecord="GridRecord"
                                                                             IsResizable="IsResizable"/>
</div>
