@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

@if (_cachedHtmlElementRecord is not null)
{
    <div class="bwmt_grid-display"
         style="@_cachedHtmlElementRecord.DimensionsRecord.BuildCssStyleString()">
        <BlazorWindowManager.RazorClassLibrary.Transformative.TransformativeDisplay HtmlElementRecord="_cachedHtmlElementRecord"
                                                                                @ref="_transformativeDisplay" />
        
        <div class="bwmt_grid-display-tabs">
            @for (int i = 0; i < GridRecord.GridTabRecords.Length; i++)
            {
                var tabIndex = i;
                var gridTabRecord = GridRecord.GridTabRecords[tabIndex];
                <GridTabDisplay GridTabRecord="gridTabRecord" />
            }

            <GridBodyDisplay RenderedContentType="GridRecord.GridTabRecords[GridRecord.ActiveTabIndex].RenderedContentType" />
        </div>
    </div>
}
