@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

@if (_cachedGridTabContainer is not null)
{
    <div class="bwmt_grid-item-display">
        @GridItemRecord.GridItemRecordKey

        <hr />

        <div style="cursor: pointer;"
         @onclick="AddGridTabRecordOnClick">
            AddGridTabRecordOnClick
        </div>

        @foreach(var gridTabContainerRecord in _cachedGridTabContainer.GridTabRecords)
        {
            <GridTabDisplay GridTabRecord="gridTabContainerRecord" />
        }
    </div>
}