@using BlazorWindowManager.ClassLibrary.Element

<div class="bwmt_grid-column-display"
     style="@GetStyle()">
    <GridAddColumnButtons AddWindowEventCallback="OnAddWindowEventCallback" />

    <CascadingValue Value="GridModel">
        <DynamicComponent Type="GridModel.RenderedContentType" />
    </CascadingValue>
</div>