<div class="bwmt_grid-tabs-display @IsActiveCssClass">

    <span class="bwmt_grid-tabs-display-display-name">
        @GridTabRecord.GridTabDisplayName
    </span>

    <span class="bwmt_grid-tabs-display-close-button"
          @onclick="DispatchCloseGridTabActionOnClick">
        <IconChromeClose />
    </span>
</div>