<div class="bwmt_grid-column-display-add-column-buttons">
    <div class="bwmt_grid-column-display-add-column-button-row">
        <span class="bwmt_grid-column-display-add-column-button-item bwmt_grid-column-display-add-column-button-item-north-west bwmt_grid-column-display-add-column-button-item-diagonal bwmt_unselectable">
            <IconStarFull />
        </span>
        <span class="bwmt_grid-column-display-add-column-button-item bwmt_grid-column-display-add-column-button-item-north"
              @onclick="(() => FireCardinalDirectionKind(ClassLibrary.Direction.CardinalDirectionKind.North))">
            <IconArrowUp />
        </span>
        <span class="bwmt_grid-column-display-add-column-button-item bwmt_grid-column-display-add-column-button-item-north-east bwmt_grid-column-display-add-column-button-item-diagonal bwmt_unselectable">
            <IconStarFull />
        </span>
    </div>
    <div class="bwmt_grid-column-display-add-column-button-row">
        <span class="bwmt_grid-column-display-add-column-button-item bwmt_grid-column-display-add-column-button-item-west"
              @onclick="(() => FireCardinalDirectionKind(ClassLibrary.Direction.CardinalDirectionKind.West))">
            <IconArrowLeft />
        </span>
        <span class="bwmt_grid-column-display-add-column-button-item bwmt_grid-column-display-add-column-button-item-center">
            <IconBrowser />
        </span>
        <span class="bwmt_grid-column-display-add-column-button-item bwmt_grid-column-display-add-column-button-item-east"
              @onclick="(() => FireCardinalDirectionKind(ClassLibrary.Direction.CardinalDirectionKind.East))">
            <IconArrowRight />
        </span>
    </div>
    <div class="bwmt_grid-column-display-add-column-button-row">
        <span class="bwmt_grid-column-display-add-column-button-item bwmt_grid-column-display-add-column-button-item-south-west bwmt_grid-column-display-add-column-button-item-diagonal bwmt_unselectable">
            <IconStarFull />
        </span>
        <span class="bwmt_grid-column-display-add-column-button-item bwmt_grid-column-display-add-column-button-item-south"
              @onclick="(() => FireCardinalDirectionKind(ClassLibrary.Direction.CardinalDirectionKind.South))">
            <IconArrowDown />
        </span>
        <span class="bwmt_grid-column-display-add-column-button-item bwmt_grid-column-display-add-column-button-item-south-east bwmt_grid-column-display-add-column-button-item-diagonal bwmt_unselectable">
            <IconStarFull />
        </span>
    </div>
</div>