@using BlazorWindowManager.ClassLibrary.Grid
@using Fluxor.Blazor.Web.Components
@using System.Collections.Immutable

@inherits FluxorComponent

@if(_cachedGridBoard is not null)
{
    <div class="bwmt_grid-display">
        GridRecord.GridRecordKey.Id: @GridRecord.GridRecordKey.Id

        <hr />

        <div style="cursor: pointer;"
             @onclick="AddGridItemRecordOnClick">
             AddGridItemRecordOnClick
        </div>

        @{
            ImmutableArray<GridItemRecord>? previousRow = null;

            for (int i = 0; i < _cachedGridBoard.GridItemRecords.Length; i++)
            {
                var rowIndex = i;
                var row = _cachedGridBoard.GridItemRecords[rowIndex];

                if(previousRow is not null)
                {
                        <GridRowDivider />
                }

                    <GridRowDisplay Row="row" />

                previousRow = row;
            }
        }
    </div>   
}