<div class="bwmt_grid-add-tab-form-display">
    <GridAddButtonsDisplay CardinalDirectionKindSelectedEventCallback="OnCardinalDirectionKindSelectedEventCallback"
                           SelectedCardinalDirectionKind="_selectedCardinalDirectionKind" />

    <CascadingValue Name="@GridDisplay.TYPE_TO_RENDER_SELECTED_ACTION_PARAMETER_NAME" Value="OnTypeToRenderSelectedAction">
        @EmptyGridTabContainerRenderFragment
    </CascadingValue>
</div>
