<div class="bwmt_button-display bwmt_unselectable @(Class ?? string.Empty) @ColorKindCssClassString"
     @onclick="FireOnClickEventCallback"
     title="@(Title ?? string.Empty)">
     
     @ChildContent
</div>