@page "/htmlElement"
@using BlazorWindowManager.ClassLibrary.Dimension
@using BlazorWindowManager.ClassLibrary.Html

<div class="html-element-example">
    <BlazorWindowManager.RazorClassLibrary.Html.HtmlElementExampleWrapperDisplay />
</div>

@code {
}