.bwmt_window-manager-theme-light {
    --bwmt_window-manager-dialog-display-background-color: #f9f2e8;
    --bwmt_window-manager-dialog-display-box-shadow: 0 0 3px #333;
    --bwmt_primary-color: #679aff;
    --bwmt_secondary-color: #b9b9b9;
    --bwmt_success-color: #72e672;
    --bwmt_danger-color: #ff7a7a;
    --bwmt_warning-color: #ffff61;
    --bwmt_info-color: #85eaf7;
    --bwmt_primary-border-color: #4c4e54;
    --bwmt_primary-font-color: black;
    --bwmt_secondary-font-color: gray;
    --bwmt_window-manager-dialog-task-bar-display-background-color: silver;
    --bwmt_primary-active-background-color: #c0e0ff;
    --bwmt_primary-hover-background-color: #94b2f2;
    --bwmt_window-manager-dialog-display-title-background-color: #dadada;
    --bwmt_primary-background-color: #fdfdfd;
}

.bwmt_window-manager-theme-dark {
    --bwmt_window-manager-dialog-display-background-color: #f9f2e8;
    --bwmt_window-manager-dialog-display-box-shadow: 0 0 3px #333;
    --bwmt_primary-color: #679aff;
    --bwmt_secondary-color: #b9b9b9;
    --bwmt_success-color: #72e672;
    --bwmt_danger-color: #ff7a7a;
    --bwmt_warning-color: #ffff61;
    --bwmt_info-color: #85eaf7;
    --bwmt_primary-border-color: #4c4e54;
    --bwmt_primary-font-color: black;
    --bwmt_secondary-font-color: gray;
    --bwmt_window-manager-dialog-task-bar-display-background-color: silver;
    --bwmt_primary-active-background-color: #c0e0ff;
    --bwmt_primary-hover-background-color: #94b2f2;
    --bwmt_window-manager-dialog-display-title-background-color: #dadada;
    --bwmt_primary-background-color: #fdfdfd;
}

.bwmt_drag-event-provider-display {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
}

    .bwmt_drag-event-provider-display.bwmt_active {
        display: block;
    }

.bwmt_window-manager-dialog-display {
    z-index: 50;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bwmt_window-manager-dialog-display-background-color);
    box-shadow: var(--bwmt_window-manager-dialog-display-box-shadow);
}

.bwmt_window-manager-dialog-display-title {
    cursor: pointer;
    background-color: var(--bwmt_window-manager-dialog-display-title-background-color);
    height: var(--bwmt_window-manager-dialog-display-title-height);
    display: flex;
    justify-content: space-between;
}

.bwmt_window-manager-dialog-display-title-content {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.bwmt_window-manager-dialog-display-title-control-buttons {
    display: flex;
    align-items: center;
}

    .bwmt_window-manager-dialog-display-title-control-buttons .bwmt_window-manager-dialog-display-title-control-button-wrapper {
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding: 0 5px;
    }

        .bwmt_window-manager-dialog-display-title-control-buttons .bwmt_window-manager-dialog-display-title-control-button-wrapper:hover {
            background-color: var(--bwmt_primary-hover-background-color);
        }

.bwmt_window-manager-dialog-task-bar-display {
    height: var(--bwmt_window-manager-dialog-task-bar-display-height);
    background-color: var(--bwmt_window-manager-dialog-task-bar-display-background-color);
}

.bwmt_window-manager-dialog-task-entry-display {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-left: 5px;
}

    .bwmt_window-manager-dialog-task-entry-display:hover {
        background-color: var(--bwmt_primary-hover-background-color);
    }

.bwmt_window-manager-dialog-task-entry-display-title {
    height: 100%;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    padding-left: 5px;
}

.bwmt_window-manager-dialog-task-entry-display-close-button {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
}

    .bwmt_window-manager-dialog-task-entry-display-close-button:hover {
        background-color: var(--bwmt_danger-color);
    }

.bwmt_transformative-resize-handle-display {
    position: absolute;
}

.bwmt_transformative-resize-handle-north-display {
    cursor: n-resize;
}

.bwmt_transformative-resize-handle-east-display {
    cursor: e-resize;
}

.bwmt_transformative-resize-handle-south-display {
    cursor: s-resize;
}

.bwmt_transformative-resize-handle-west-display {
    cursor: w-resize;
}

.bwmt_transformative-resize-handle-north-east-display {
    cursor: ne-resize;
}

.bwmt_transformative-resize-handle-south-east-display {
    cursor: se-resize;
}

.bwmt_transformative-resize-handle-south-west-display {
    cursor: sw-resize;
}

.bwmt_transformative-resize-handle-north-west-display {
    cursor: nw-resize;
}
