<div class="bwmt_task-manager-list-display @Class">
    @foreach(var enqueuedTaskRecord in EnqueuedTaskRecords)
    {
        <EnqueuedTaskDisplay EnqueuedTaskRecord="enqueuedTaskRecord" />
    }
</div>