@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

<div class="bwmt_task-manager-display">
    @foreach(var enqueuedTaskRecord in TaskManagerState.Value.ActiveTasks)
    {
        
    }
</div>