@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

<div class="bwmt_task-manager-display @GetCssClasses()">
    <TaskManagerListDisplay EnqueuedTaskRecords="TaskManagerState.Value.ActiveTasks"
                            Class="bwmt_primary" />

    <TaskManagerListDisplay EnqueuedTaskRecords="TaskManagerState.Value.SuccessfulTasks"
                            Class="bwmt_success" />

    <TaskManagerListDisplay EnqueuedTaskRecords="TaskManagerState.Value.FailedTasks"
                            Class="bwmt_danger" />
</div>