@inherits LayoutComponentBase

<PageTitle>BlazorWindowManagerTemplate</PageTitle>

<BlazorWindowManager.RazorClassLibrary.WindowManagerInitializerDisplay />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Settings for Debugging Css Classes:&nbsp;
            <BlazorWindowManager.RazorClassLibrary.DebugCssClasses.DebugCssClassesDialogEntryPointDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
