@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

<div class="bwmt_drag-event-provider-display @IsActiveCssClass @GetDebugCssClasses()"
     @onmousemove="DispatchOnDragEventActionOnMouseMove"
     @onmouseup="DispatchUnsubscribeActionOnMouseUp">

</div>