<div class="bwmt_window-manager-dialog-display"
     style="@WindowManagerDialogRecord.DimensionsRecord.BuildCssStyleString()">

     <div class="bwmt_window-manager-dialog-display-title bwmt_unselectable"
          @onmousedown="FireSubscribeToDragEventWithMoveHandle">
          <div class="bwmt_window-manager-dialog-display-title-content">
              @WindowManagerDialogRecord.WindowManagerDialogRecordDisplayName
          </div>
          
          <div class="bwmt_window-manager-dialog-display-title-control-buttons">
              <div class="bwmt_window-manager-dialog-display-title-control-button-wrapper"
                   @onclick="MinimizeDialogOnClick"
                   @onclick:stopPropagation="true"
                   @onmousedown:stopPropagation="true">
                  <IconChromeMinimize />
              </div>
              <div class="bwmt_window-manager-dialog-display-title-control-button-wrapper">
                  <IconChromeMaximize />
              </div>
              <div class="bwmt_window-manager-dialog-display-title-control-button-wrapper"
                   @onclick="CloseDialogOnClick"
                   @onclick:stopPropagation="true"
                   @onmousedown:stopPropagation="true">
                  <IconChromeClose />
              </div>
          </div>
     </div>

     @* TODO: come back to this working on something need to comment it for now *@
     @*<BlazorWindowManager.RazorClassLibrary.Transformative.TransformativeDisplay DimensionsRecord="WindowManagerDialogRecord.DimensionsRecord"
                                                                              OnDimensionsRecordChangedEventCallback="OnDimensionsRecordChangedEventCallback"
                                                                              @ref="_transformativeDisplay" />*@

    <CascadingValue Name="CompleteDialogInteractionEventCallback" Value="CompleteDialogInteractionEventCallback">
        <DynamicComponent Type="WindowManagerDialogRecord.RenderedContentType"
                       Parameters="WindowManagerDialogRecord.RenderedContentParameters" />
    </CascadingValue>
</div>