<div class="bwmt_window-manager-dialog-task-entry-display">
     <div class="bwmt_window-manager-dialog-task-entry-display-title"
          @onclick="ToggleIsMinizedDialogOnClick">
         @WindowManagerDialogRecord.WindowManagerDialogRecordId
     </div>
     <div class="bwmt_window-manager-dialog-task-entry-display-close-button"
          @onclick="CloseDialogOnClick">
         <IconChromeClose />
     </div>
</div>