<div class="bwmt_window-manager-dialog-display">
    <DynamicComponent Type="WindowManagerDialogRecord.RenderedContentType"
                       Parameters="WindowManagerDialogRecord.RenderedContentParameters" />
</div>