<div class="bwmt_window-manager-dialog-display"
     style="@WindowManagerDialogRecord.DimensionsRecord.BuildCssStyleString()">
    <DynamicComponent Type="WindowManagerDialogRecord.RenderedContentType"
                       Parameters="WindowManagerDialogRecord.RenderedContentParameters" />
</div>